@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
body {background-color: #fafafa;
      cursor: default;}
/* 전체 화면 */
.Rectangle {
    width: 100%;
    height: 600px;
    background-color: #fafafa;
    position: absolute;
    top:0px;
    left:0px;
}


/* '팀 만들기' 텍스트 */
.login-title {
    width: 100%;
    height: 140px;
    font-family: "Noto Sans KR";
    font-size: 29.2px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.login-info {
    position: relative;
    margin:auto;
    border-collapse: separate;
    border-spacing: 0 20px;
}



/* 입력 항목 부분 - 4개 모두 동일 */
.idandpassword {
    width: 181px;
    height: 28px;
    font-family: "Noto Sans KR";
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
    text-align: left;}


/* 입력 box 부분 - 4개 모두 동일 */
.login-box  {
    width: 287px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #D3D3D3;
    background-color: #FFFFFF;
    font-size: 18px;
    color: gray;
    font-weight: 300;
    padding-left: 10px;
    font-family: 'Noto Sans KR';}

.login-box:focus {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                outline: none;}



/* 가입하기 전체 버튼 부분 */
.button {
    display: block;
    margin: auto;
    position: relative;
    top: 175px;
    left: 183px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1.5px gray;
    background-color:gray;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 4px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover, .button:focus {
border: 0px;
  outline: none;
background-color:#5282ff;}
