@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

/* 전체 화면 */
body {
    height: auto;
    background-color: #fafafa;
    font-family: 'Noto Sans KR';
    cursor: default;
}

#next {text-decoration: none;
  color: white;
  cursor: grab;
  width: 100%;
  height: 100%;}

/* '회원 가입' 텍스트 부분 */
.signin {
    width: 632px;
    height: 65px;
    font-size: 29.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: auto;
}

/* '*표시는 필수 입력 항목입니다' */
#warning {
    width: 220px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9f9f9f;
    margin: auto;
    position: relative;
    left: -125px;
    margin-top: 75px;
}

table {
    margin: auto;
    position: relative;
    border-collapse: separate;
    border-spacing: 0 20px;
}

th {
    text-align: left;
}

/* 입력 항목 부분 - 7개 모두 동일*/
.inputitem {
    width: 181px;
    height: 29px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}



.removeOnFocus {
    width: 287px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #D3D3D3;
    background-color: #FFFFFF;
    font-size: 18px;
    color: gray;
    font-weight: 300;
    padding-left: 10px;
    font-family: 'Noto Sans KR';}

.removeOnFocus:focus {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                outline: none;}


/* 입력 box 부분 - 7개 모두 동일 */
.inputbox {
    width: 287px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #D3D3D3;
    background-color: #FFFFFF;
    font-size: 18px;
    color: gray;
    font-weight: 300;
    padding-left: 10px;
    font-family: 'Noto Sans KR';}

.inputbox:focus {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                outline: none;}

.team-start-bar {
    clear: both;
    display: table;
    position: relative;
    width: 100%;
    height: 280px;
    text-align: center;
    background-color: #fafafa;
    top: 80px;
}

/* 가입하기 전체 버튼 부분 */
.button {
    display: block;
    margin: auto;
    position: relative;
    top: 175px;
    left: 183px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1.5px gray;
    background-color:gray;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 4px;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover, .button:focus {
border: 0px;
  outline: none;
background-color:#5282ff;}
